parameters:
    integrations:
        - pwr:
            - integration1:
                - partnerId: ~
                - partnerKey: ~
                - environment: ~
        - dpd:
            - integration1:
                - login: ~
                - password: ~
                - channel: ~
